body {
  margin: 0%;
}

.flexcontainer {
  background: whitesmoke;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

#youtubeimg {
  width: 100px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.btnimg {
  width: 15px;
}

.form {
  display: flex;
  justify-content: center;
}

.videoicon {
  width: 25px;
}

.bell {
  width: 15px;
}

.melo {
  /*flex:0.5;*/
  padding-left: 10px;
}

.all {
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.menu {
  display: inline-block;
}

.logo {
  display: inline-block;
}

.searchbar {
  flex: 3;
}

.searchinput {
  width: 80%;
  max-width: 700px;
}

.addvideo {
  display: inline-block;
}

.apps {
  display: inline-block;
  padding-left: 20px;
}

.notification {
  display: inline-block;
  padding-left: 20px;
}

.appscontainer {
  flex: 0.5;
}

.allcontent {
  padding-top: 80px;
}

.flex2 {
  width: 90%;
  margin: 0 auto;
}

.flexcontainer2 {
  display: flex;
  justify-content: center;
}

.video_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 980px;
  min-height: 100%;
  flex-basis: 60%;
}

.thumb_content {
  flex-basis: 30%;
  margin-left: 10px;
}

.video_content iframe {
  width: 100%;
  max-width: 980px;
  min-height: inherit;
}

h5 {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-family: serif;
  color: rgb(90, 90, 90);
}

h3 {
  margin-bottom: 5px;
}

.likebutton {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.likebutton img {
  width: 20px;
  margin-right: 5px;
}

.likebutton p {
  margin-right: 10px;
  text-transform: uppercase;
}

.but {
  flex: 1;
}

hr {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-style: inset;
  border-width: 0.1em;
  border-radius: 10px;
  width: 100%;
  color: gainsboro;
}

.infopost {
  display: flex;
  justify-items: center;
  margin-top: 15px;
}

.logopost {
  width: auto;
  height: auto;
  flex: 1;
  display: flex;
  justify-items: center;
}

#subscribe {
  width: 130px;
  height: auto;
}

.info {
  margin-left: 10px;
  margin-top: 4px;
}

.in {
  display: block;
}

.description_box {
  text-align: justify;
}

.upnext {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: auto;
}

.autoplay {
  display: flex;
  width: 100%;
  align-items: center;
}

.autoplay h4 {
  margin: 0;
  flex: 1;
}

.slidebar {
  display: inline-block;
  height: 20px;
}

.bar {
  background: rgb(224, 224, 224);
  width: 50px;
  height: 13px;
  border-radius: 4px;
  display: inline-block;
  margin-left: 5px;
  box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}
.circle {
  background: grey;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  top: -20px;
  left: 8px;
}

.thumbs img {
  width: 200px;
}

.thumbs {
  margin-top: 13px;
  width: 100%;
  display: flex;
}

.thumbDescriptions {
  display: flex;
  flex-direction: column;
}
