body
{
  margin: 0%;
}

.flexcontainer
{
  background:whitesmoke;
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

#youtubeimg
{
  width:100px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.btnimg
{
  width: 15px;
}

.form
{
  display: flex;
  justify-content: center;
}

.videoicon
{
  width: 25px;
}

.bell 
{
  width: 15px;
}

.melo
{
  /*flex:0.5;*/
  padding-left: 10px;
}

.all
{
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.menu
{
  display: inline-block;
}

.logo
{
  display: inline-block;
}

.searchbar
{
  flex: 3;
  
}

.searchinput
{
  width: 80%;
  max-width:700px;
}

.addvideo
{
  display: inline-block;
}

.apps
{
  display: inline-block;
  padding-left: 20px;
}

.notification
{
  display: inline-block;
  padding-left: 20px;
}

.appscontainer
{
  flex: 0.5;
}

.container {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

